<form id = "add-news-form" action = "{$action}" method = "POST">
    <table>
        <tr>
            <td><div class = "label">Tytuł: </div></td>
            <td><input class = "input" type = "text" name = "tytul" /></td>
        </tr>
        <tr>
            <td><div class = "label">Autor (jeżeli inny niż login): </div></td>
            <td><input class = "input" type = "text" name = "autor" /></td>
        </tr>
        <tr>
            <td><div class = "label">Treść: </div></td>
            <td><textarea class = "input" rows = "15" name = "tekst"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type = "submit" value = "Dodaj" /></td>
            <td></td>
        </tr>
    </table>
</form>