<div id="body">
    
    <div class="content">
        
        <div id="login-status">Witaj {$login}! <input type="button" id="logout-but" value="Wyloguj" /></div>
        
        <div id="add-realization-wrapper" class="admin-option-content"></div>
        
        <div id="realization-options-wrapper" class="admin-option-content"></div>
        
        <div id="add-slider" class="admin-option-content">
            
            <h2>Dodawanie slajdu strony głównej</h2>
            
        </div>
    
    </div>
    
    <div id="right-col"> 
        
        <div id="admin-menu">
            
            <ul>
                <li><a href="#add-realization-wrapper" onclick="loadMenuTab(this, 'add_realization');return false;"><div>Dodaj realizację</div></a></li>
                <li><a href="#realization-options-wrapper" onclick="loadMenuTab(this, 'realization_options');return false;"><div>Opcje realizacji</div></a></li>
                <li><a href="#add-slider"><div>Dodaj slajd</div></a></li>
            </ul>
            
        </div>
            
    </div>

</div>