<div id="section">
    <div id="content-wrapper">
        <div id="content">
            <div id="banner-1" class="banner">
                <div class="banner-content">
                    <div class="banner-text">
                        <h1>pewność.szybkość.niezawodność</h1>
                        <p>
                            Analiza wymagań klienta, a następnie bezproblemowe i szybkie przejście do fazy projektowania i realizacji. Pomoc techniczna po wdrożeniu.
                        </p>
                    </div>
                </div>
            </div>
            <div id="banner-2" class="banner">
                <div class="banner-content">
                    <div class="banner-text">
                        <h1>design.innowacja.piękno</h1>
                        <p>
                            Moje strony są dopracowane wizualnie i spełniają standardy HTML.
                        </p>
                    </div>
                </div>
            </div>
            <div id="banner-3" class="banner">
                <div class="banner-content">
                    <div class="banner-text">
                        <h1>kortowiada.net</h1>
                        <p>
                            Wystartowała najnowsza strona Specjalnego Serwisu Fotograficznego(SSFK) "Kortowiada": <a href="http://kortowiada.net" target="_blank">Kortowiada.net</a>
                        </p>
                    </div>
                    <img src="images/logoSSFK.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div id="banner-control"></div>
</div>
<div id="featured">
    <div>
        <div class="article">
            <h2>Witam na mojej stronie</h2>
            <img src="images/main-pic.jpg" alt="">
            <p>
                <strong>Masz pomysł na stronę internetową?</strong>
            </p>
            <p>
                <strong>Chcesz zaistnieć w sieci, ale nie wiesz jak przejść do realizacji pomysłu?</strong>
            </p>
            <p>
                Mogę Ci pomóc w przekształceniu twojego wyobrażenia w realny projekt. Jestem Web Developerem, który wie jak tego dokonać.
            </p>
            <p>
                Zapraszam do współpracy ze mną :-)
            </p>
        </div>
        <div id="right-col">
            <div id="new-realizations">
                
                    {$right-col-content}
                </ul>
            </div>
            <div id="commercials">
                <div class="commercial">
                    <a href="http://www.ermail.pl/bannerlink/NecmC7eVYYaT2J7leaXNjjNYNjNc2AXX" target="_blank">
                        <img src="http://www.ermail.pl/images/linkbanners/eRmailBanner2.png">
                    </a>
                </div>
            </div>
            <div id="facebook-like-box">
                <div class="fb-like-box" data-href="https://www.facebook.com/pages/Blackhawks-House/223261677748172" data-width="460" data-height="280" data-show-faces="false" data-stream="true" data-border-color="#fcfcd6" data-header="false"></div>
            </div>
        </div>
    </div>
</div>