<div id="body">
    <div class="realization">
        <div class="realization-content">
            <h1>{$realization-title}</h1>

            <p>
                {$realization-text}
            </p>

            <p>
                Użyte technologie: {$realization-tech}
            </p>

            <h3>Link: {$realization-url}</h3>

            <h4>Data wykonania: {$realization-date}</h4>
        </div>
        <img src="images/{$realization-image}" alt="" />
    </div>
    
    {$additional-content}
</div>